:root {
  --heading-font-family: "Montserrat Alternates", sans-serif;
  --default-font-family: "Poppins", sans-serif;
  --theme-color: rgb(26, 33, 87);
}
body {
  font-family: var(--default-font-family);
  font-style: normal;
  background-color: var(--theme-color);
  margin: 10px;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/Athens.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(250, 243, 233);
  text-align: center;
  padding: 160px 0;
  margin: 0;
}
header h1 {
  font-family: var(--heading-font-family);
  font-style: normal;
  text-shadow: 3px 1px 2px black;
  font-size: 86px;
  font-weight: 500;
  line-height: 1.5;
  margin: 20px 0;
}
header h2 {
  font-family: var(--heading-font-family);
  font-style: normal;
  text-shadow: 3px 1px 2px black;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 10px;
}
header h3 {
  font-size: 20px;
  text-shadow: 3px 1px 2px black;
  letter-spacing: 5px;
}
header a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black;
  background-color: rgb(250, 243, 233);
  padding: 16px 32px;
  display: inline-block;
  margin-top: 36px;
  border-radius: 5px;
}
main {
  background-color: white;
}
section {
  padding: 80px;
}
main h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--theme-color);
  opacity: 0.3;
  text-transform: uppercase;
  letter-spacing: 5px;
}
main h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--theme-color);
}
main h4 {
  font-size: 16px;
  font-weight: 400;
  color: var(--theme-color);
  opacity: 0.4;
}
main p {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
}
.img-responsive {
  max-width: 100%;
  display: block;
}
.grid {
  display: grid;
  grid-template-columns: 3fr 4fr;
}
.grid-2-equal-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
.secondary {
  background-color: rgb(242, 239, 239);
}
.grid-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.card {
  background-color: white;
  padding: 20px;
}
p strong {
  font-weight: 500;
}
.card li {
  list-style: square;
  font-size: 16px;
  font-weight: 200;
}

.btn {
  display: block;
  color: white;
  background-color: blue;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px;
  margin-top: 40px;
}
.text-center {
  text-align: center;
}
footer {
  background-image: linear-gradient(
      rgba(26, 33, 87, 0.8),
      rgba(17, 36, 94, 0.8)
    ),
    url("/images/athens-greece-footer2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(250, 243, 233);
  padding: 60px 80px 40px;
}
footer h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}
footer p {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: rgb(250, 243, 233);
  font-size: 16px;
  font-weight: 200;
  line-height: 2;
}
.signature-line {
  font-size: 14px;
  font-weight: 100;
  padding-top: 40px;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 45px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid,
  .grid-2-equal-columns,
  .grid-3-columns {
    grid-template-columns: 1fr;
  }
  footer {
    padding: 20px;
    text-align: center;
  }
  section {
    padding: 20px;
  }
  .img-responsive {
    display: block;
    margin: 0 auto;
  }
}
